#logo{
    width: 10%;
    height: 10%;
}

.conteiner{
    background-color: #d32f2f;
}

.titulo{
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.titulo2{
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.texto{
    color: black;
    font-family: 'Press Start 2P', cursive;
}

#lista_pu, #lista_pd{
    font-size: 10px;
}